@import "../../styles/settings.scss";

.component {
  background: $color-dark;
  padding: ($base-size * 1.5) 0;

  a {
    color: $color-light;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-right: ($base-size * 5.5);
    transition: $transition;
    text-transform: uppercase;
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-warning;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}
