@import "../../styles/settings.scss";

.link {
  text-decoration: none;
  color: $color-dark;
}

.component {
  margin-top: 30px;
  background: $color-main;
  opacity: 0.8;
  display: flex;
  margin-bottom: $base-size;
  border-radius: $radius;
  color: $color-dark;
  width: 100%;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  margin-left: 30px;
}

.text {
  margin-top: 15px;
  padding: $base-size;
  min-width: 350px;
  margin-right: auto;
}

.title {
  margin-bottom: ($base-size * 2);
}
a {
  display: inline-block;
  margin-right: 20px;
}
