@import "../../styles/settings.scss";

.component {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    // flex-grow: 1;
    background: transparent;
    border: 2px solid #1b4693;
    padding: $base-size ($base-size * 1.5);
    margin: 0 0 $base-size 0;
    font-family: $font-text;
    outline: none;
    text-align: left;
    border-radius: $radius;

    &::placeholder {
      color: #1b4693;
      font-size: 14px;
      text-align: center;
      font-weight: 700;
    }
  }
}
